{% extends 'general/base.html' %}
{% load static %}


{% block title %}Incident Reports{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock %}

{% block content %}
<div class="incident-reports-container">
    <h1>Incident Reports</h1>

    <div class="incident-columns">
        {% for status, incidents in incidents_by_status.items %}
            <div class="incident-column">
                <h2>{{ status|title }}</h2>
                <div class="incident-list-column">
                    <ul>
                        {% for incident in incidents %}
                            <li>
                                <img src="{{ incident.image.url }}" alt="Incident Image">
                                <a href="{% url 'incident_detail' incident.pk %}" class="card-link">
                                    <div class="incident-info">
                                        <h3>{{ incident.incident_type }}</h3>
                                        <p><span>Category:</span> {{ incident.category }}</p>
                                        <p><span>Status:</span> {{ incident.status }}</p>
                                    </div>
                                </a>
                            </li>
                        {% empty %}
                            <li>No incidents found for this status.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}



