{% extends 'general/base.html' %}
{% load static %}

{% block title %}Update User Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'user_update.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>User Profile</h2>
        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Username and Email on the same row -->
            <div class="form-row">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" value="{{ user.username }}" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="{{ user.email }}" readonly>
                </div>
            </div>

            <!-- First Name and Last Name on the same row -->
            <div class="form-row">
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}">
                </div>
            </div>

            <!-- Contact Information and Address on the same row -->
            <div class="form-row">
                <div class="form-group">
                    <label for="contact_information">Contact Information</label>
                    <input type="text" id="contact_information" name="contact_information" value="{{ user.contact_information }}">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" value="{{ user.address }}">
                </div>
            </div>

            <!-- Profession and Birth Date on the same row -->
            <div class="form-row">
                <div class="form-group">
                    <label for="profession">Profession</label>
                    <input type="text" id="profession" name="profession" value="{{ user.profession }}">
                </div>
                <div class="form-group">
                    <label for="birth_date">Birth Date</label>
                    <input type="date" id="birth_date" name="birth_date" value="{{ user.birth_date|date:"Y-m-d" }}">
                </div>
            </div>

           <!-- Profile Image -->
            <div class="form-row">
                <div class="form-group">
                    <label for="profile_image">Profile Image</label>
                    <input type="file" id="profile_image" name="profile_image">
                </div>
                <div class="form-group">
                    {% if user.profile_image %}
                        <img src="{{ user.profile_image.url }}" alt="Current Profile Image" class="profile-image">
                    {% else %}
                        <img src="{% static 'image/LairPfp.jpg' %}" alt="Default Profile Image" class="profile-image">
                    {% endif %}
                </div>
            </div>

            <div class="button-container">
                <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-danger" onclick="deleteAccount()">Delete Account</button>
            </div>
            <input type="hidden" name="action" id="action" value="update">
        </form>
    </div>

    <script>
        function deleteAccount() {
            window.location.href = "{% url 'delete_user' %}";
        }
    </script>
{% endblock %}