@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --accent-color:#ca2735;
    --base-color:white;
    --text-color:#2E2B41;
    --input-color:#F3F0FF;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Poppins, Segoe UI, sans-serif;
    font-size:  12pt;
    color: var(--text-color);
    text-align: center;
}

body{
    min-height: 100vh;
    background: url('image/HeartBackground.jpg');
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

.error-message{
    color: red !important;
    font: inherit;
    font-size: 1.2rem;
    margin-top: 10px;
}

.wrapper{
    background-color: var(--base-color);
    height: 100vh;
    width: max(40%, 750px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase; 
}

form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-color);
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover{
    border-color: var(--accent-color);
} 

form input:focus{
    outline: none;
    border-color: var(--text-color);
}

div:has(input:focus) > label{
    background-color: var(--text-color);
}

form input::placeholder{
    color: var(--text-color);
    opacity: var(--text-color);
}

form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color:var(--base-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}

form button:hover{
    background-color: var(--text-color);
}

form button:focus{
    outline: none;
    background-color: var(--text-color);
}

a{
    text-decoration: underline;
}

.circle-button {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    border-radius: 50%;
    border: none;
    background-color: var(--accent-color); /* Adjust the color as needed */
    text-align: center;
    line-height: 30px; /* This should match the height to center the text vertically */
    cursor: pointer;
    font-size: 16px; /* Adjust the font size as needed */
    padding: 0; /* Remove default padding */
}

.circle-button .back-link {
    color: white; /* Set the text color to white */
    text-decoration: none !important; /* Remove underline */
    display: block; /* Make the link fill the button */
    width: 100%; /* Ensure the link fills the button */
    height: 100%; /* Ensure the link fills the button */
    line-height: 30px; /* Center the text vertically */
}

.circle-button:hover {
    background-color: var(--text-color); /* Adjust the hover color as needed */
}