{% extends 'general/base.html' %}
{% load static %}

{% block title %}Incident Assignments{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock %}

{% block content %}
<div class="incident-reports-container">
    <h1>Incident Assignments</h1>
    <ul>
        {% for assignment in assignments %}
            <li>
                {{ assignment.user.username }} assigned to 
                <a href="{% url 'incident_detail' assignment.incident_report.pk %}">
                    Incident {{ assignment.incident_report.reportid }}: {{ assignment.incident_report.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}